<div class="grid_16 panel round_corners">
  SlidingTax is an interactive proposal to replace the current federal tax system.<br />
  <br />
  The idea sprung from a series of office political conversations, further sparked by an article on the Freakonomics blog concerning the federal tax rate, how to make it scale more fairly while ensuring that everyone has some skin in the game.<br />
  <br />
  <b>How It Works:</b><br />
  The system is built to replace the entire federal tax system. It has no deductions and no brackets (the brackets you see at the bottom are a visual guide). Moreover it has no corporate tax (as long as a company reinvests in themselves, they are not taxed) however all payouts are taxed at the appropriate income level (so if the company gives it's CEO 5 million dollars of stock, the taxes are assessed on the value of the payout at the rate of the payee's total income). Capital gains are also assessed at the rate of the payee. The individual rate is determined based on based on the payee's percentage of income above the median income for the United States as a whole the year before. Based on these numbers, this site was constructed to allow people to fiddle around with the percentages, caps, and rates of growth inherent in the system. This is obviously not a complete tax proposal, however hopefully it will facilitate an understanding or discussion about the rates of taxation and how to implement a system that is best for all involved.<br />
  <br />
  <b>How to Use the Site:</b><br />
  There are three settings on the left to tweak the system. Changing the Median Tax Rate changes the tax rate paid by someone who has exactly the median income for the country. Altering the Growth Rate changes how quickly the tax rate rises as income rises above the median (smaller growth rates mean the tax rate increases faster as you get away from median income, larger growth rates mean the opposite). Lastly the cap is the highest tax rate that can be assessed by the system. This rate cannot be set higher than 50%, as it would cause a disincentive to work (as the rate climbs above 50% you're losing more of your income than you're making, thus you'd be better off making less).<br />
  <br />
</div>