/* ...
*= require_self
*= require_tree .
*/

body {
  background-color: #82CAFA;
}

.logo {
  -webkit-transform: rotate(15deg);
  -moz-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  transform: rotate(15deg);
  margin-top: 80px;
  margin-bottom: -40px;
  font-size: 70px;
}

.panel {
  background-color: #E0FFFF;
  padding: 15px;
}

.no_underline {
  text-decoration: none;
}

.failure {
  color: red;
}

.success {
  color: green;
}

.round_corners {
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  -khtml-border-radius: 15px;
  border-radius: 15px;
}

.right {
  text-align: right;
}

input {
  width: 125px;
  margin-bottom: 7px;
}

span.total_footer {
  span {
    font-size: 22px;
  }
}

div.side_header {
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 15px;
}

#total_revenue {
  padding-left: 20px;
  font-size: 60px;
  margin-top: 10px;
  margin-bottom: 10px;
}

div.settings {
  text-align: center;
}

div.personal {
  margin-top: 20px;
  text-align: center;
}

#personal_rate {
  font-size: 32px;
}

.about {
  font-family: Gill Sans, Verdana;
  font-size: 14px;
	line-height: 14px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: bold;
}

a.about {
  text-decoration: none;
}

div.top {
  margin-bottom: 15px;
}

div.totals {
  margin-bottom: 40px;
}

table.brackets {
  width: 100%;
  align: left ;
  
  tr.even_row {
    
  }
  
  tr.odd_row {
    background-color: #82CAFA;
  }
}

.footer {
  margin-top: 15px;
  text-align: center;
  font-family: Gill Sans, Verdana;
  font-size: 11px;
	line-height: 14px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: bold;
	color: #999;
}